<div class='container-fluid mb-5'>
    <h1>Template Driven Form</h1>

    <div class='alert alert-danger' *ngIf='errorMsg'>
        {{errorMsg}}
    </div>
    <form #userForm='ngForm' *ngIf='!submitted' (ngSubmit)='onSubmit(userForm)' novalidate>


        {{userForm.form.valid}}
        <hr/> {{userModel|json}}
        <div class='form-group'>
            <label>Name</label>
            <input type='text' #name='ngModel' required [class.is-invalid]="name.invalid && name.touched" class='form-control' name='userName' [(ngModel)]='userModel.name'>
            <!-- <div *ngif='name.errors && ( name.invalid && name.touched)'></div>

            <small class='text-danger' *ngIf=' name.errors.required'> name is required </small> -->
            <small [class.d-none]='name.valid || name.untouched'>name is required</small>
        </div>

        <!-- 
        <div ngModelGroup='Address'>

            <div class='form-group'>
                <label>Street</label>
                <input type='text' class='form-control' name='street' ngModel>
            </div>
            <div class='form-group'>
                <label>City</label>
                <input type='text' class='form-control' name='city' ngModel>
            </div>
            <div class='form-group'>
                <label>Country</label>
                <input type='text' class='form-control' name='country' ngModel>
            </div>
            <div class='form-group'>
                <label>Postal Code</label>
                <input type='text' class='form-control' name='postalCode' ngModel>
            </div> 

        </div> -->
        <div class='form-group'>
            <label>Email</label>
            <input type='email' #email='ngModel' class='form-control' [class.is-invalid]='email.invalid && email.touched' name='email' [(ngModel)]='userModel.email'>
        </div>
        <div class='form-group'>
            <label>Telephone</label>
            <input type='tel' required class='form-control' #phone='ngModel' pattern='^\d{10}$' [class.is-invalid]='phone.invalid && phone.touched' name='phone' [(ngModel)]='userModel.phone'>
            <!-- <small class='text-danger' [class.d-none]='phone.valid || phone.untouched'>phone no must be 10 digit</small> -->
            <div *ngIf='phone.errors && (phone.invalid || phone.touched)'>
                <small class='text-danger' *ngIf=' phone.errors.pattern'>phone no must be 10 digit</small>
                <small class='text-danger' *ngIf=' phone.errors.required'>phone no is required </small>
            </div>
        </div>

        <div class='form-group'>
            <select (blur)='validateTopic(topic.value)' (change)='validateTopic(topic.value)' required #topic='ngModel' class='custom-select' name='topic' [class.is-invalid]='topicHasError && topic.touched' [(ngModel)]='userModel.topic'>
           <option value='' >I am interested in</option>
           <option *ngFor='let topic of topics'>
             {{topic}}
           </option>
         </select>
            <small class='text-danger' [class.d-none]='topic.valid || topic.untouched'>please choose the topic</small>
        </div>
        <div class='mb-3'>
            <label>Time Prefernce</label>
            <div class='form-check'>
                <input class='form-check-input' [(ngModel)]='userModel.topic' type='radio' name='timePrefernce' value='morning'>
                <label class='form-check-label'>Morning(9am-12pm)</label>
            </div>
            <div class='form-check'>
                <input class='form-check-input' [(ngModel)]='userModel.topic' type='radio' name='timePrefernce' value='evening'>
                <label class='form-check-label'>Evening(1pm-9pm)</label>
            </div>
        </div>

        <div class='form-check mb-3'>
            <input class='form-check-input' type='checkbox' name='subscribe ' [(ngModel)]='userModel.subscribe' del>
            <label class='form-check-label '>
            Send me some promotional offers
          </label>
        </div>

        <button [disabled]='userForm.form.invalid || topicHasError ' class='btn btn-primary ' type='submit '>submit form</button>
    </form>
</div>